{% trans_default_domain 'sfs_customer' %}

{% for customer in entities %}
    <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.taxIdCountry }} {{ customer.taxIdNumber }}</td>

        <td align="right">
            <a href="{{ url('sfs_customer_admin_customers_details', {'customer':customer}) }}" class="text-nowrap">{{ 'admin_customers.list.actions.details.button'|trans }} <span class="mdi mdi-18px mdi-eye-outline align-middle"></span></a>
        </td>
    </tr>
{% endfor %}